@if (Session["user_name"] != null && Session["user_id"] != null)
        {
    <text>
        Hello, @Session["user_name"]!
        <a href="@Url.Action("Logoff", "Account")">Log off</a>
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
