@if (TempData["sucesso"] != null)
{
    <div class="alert alert-success">
        <strong>Successo!</strong> @TempData["sucesso"].ToString()
    </div>
}
@if (TempData["erro"] != null)
{
    <div class="alert alert-danger">
        <strong>Erro!</strong> @TempData["erro"].ToString()
    </div>
}